.hero
  .hero-body
    .container
      %h1.title Positions table
      %table.table.is-hoverable.is-striped.is-fullwidth
        %thead
          %tr
            %th Team
            - @questions_ids.each do |number|
              %th= number
            %th Score
        %tbody
          -# For every team in the teams...
          - @teams.each do |team|
            %tr
              %td= team.username
              -# For every question id...
              - @questions_ids.each do |number|
                %td
                  -# If an answer of the team contains the current question id
                  -# Use block/lambda to filter the array of hashes and
                  -# Assign said answer to a var, and check if it's completed
                  - if answer = team.answers.detect {|a| a[:question_id] == number}
                    - if answer.complete
                      %span.icon.is-small.has-text-success= fa_icon "check"
                    - else
                      %span.icon.is-small.has-text-danger= fa_icon "times"
              -# Ternary op: if answers exists, print number of answers, else 0
              -# Use block/lambda to count hashes where :complete == true
              %td= team.answers ? team.answers.count {|a| a[:complete] == true} : 0
