.hero
  .hero-head
    = render partial: "shared/navbar"
  .hero-body
    .container
      %h1.title Positions table
      %table.table.is-hoverable.is-striped.is-fullwidth
        %thead
          %tr
            %th Team
            - @questions_ids.each do |number|
              %th= number
            %th Score
        %tbody
          -# For every team in the teams...
          - @teams.each do |team|
            %tr
              %td= team.username
              -# For every question id...
              - @questions_ids.each do |number|
                %td
                  = render partial: "shared/icon", locals: {team: team, question_id: number}
              -# Ternary op: if answers exists, print number of answers, else 0
              -# Use block/lambda to count hashes where :complete == true
              %td= team.answers ? team.answers.count {|a| a[:complete] == true} : 0
