.hero
  .hero-body
    .container
      %h1.title Positions table
      %table.table.is-hoverable
        %thead
          %tr
            %th Team
            - (1..23).each do |number|
              %th{id: number}= number
            %th Score
        %tbody
          -# Here's the team model recieved from the controller
          - @teams.each do |team|
            %tr
              %td= team.username
              - (1..23).each do |number|
                %td
                  - if answer = team.answers.find_by(question: number)
                    - if answer.complete
                      = fa_icon "check", class: "has-text-success"
                    - else
                      = fa_icon "times", class: "has-text-danger"
              -# Ternary op: if answers exists, print number of answers, else 0
              %td= team.answers ? team.answers.where(complete: true).count : 0
